<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aygxy.mybatis.mapper.PhysicalBillInfoMapper" >
  <resultMap id="BaseResultMap" type="com.aygxy.mybatis.entity.PhysicalBillInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="account_bill_code" property="accountBillCode" jdbcType="VARCHAR" />
    <result column="account_bill_date" property="accountBillDate" jdbcType="VARCHAR" />
    <result column="account_bill_type" property="accountBillType" jdbcType="VARCHAR" />
    <result column="account_payable" property="accountPayable" jdbcType="DECIMAL" />
    <result column="allowance_payable" property="allowancePayable" jdbcType="DECIMAL" />
    <result column="arrive_vehicle_status" property="arriveVehicleStatus" jdbcType="VARCHAR" />
    <result column="bill_code" property="billCode" jdbcType="VARCHAR" />
    <result column="consign_man" property="consignMan" jdbcType="VARCHAR" />
    <result column="consign_phone" property="consignPhone" jdbcType="VARCHAR" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="customer_property" property="customerProperty" jdbcType="VARCHAR" />
    <result column="depart_vehicle_status" property="departVehicleStatus" jdbcType="VARCHAR" />
    <result column="detail_goods_customer_code" property="detailGoodsCustomerCode" jdbcType="VARCHAR" />
    <result column="detail_payment_customer_code" property="detailPaymentCustomerCode" jdbcType="VARCHAR" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="driver_phone" property="driverPhone" jdbcType="VARCHAR" />
    <result column="expend_payable" property="expendPayable" jdbcType="DECIMAL" />
    <result column="gather_type" property="gatherType" jdbcType="VARCHAR" />
    <result column="income_payable" property="incomePayable" jdbcType="DECIMAL" />
    <result column="logis_cost" property="logisCost" jdbcType="DECIMAL" />
    <result column="other_cost" property="otherCost" jdbcType="DECIMAL" />
    <result column="payment_code" property="paymentCode" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="payments_date" property="paymentsDate" jdbcType="VARCHAR" />
    <result column="payments_total" property="paymentsTotal" jdbcType="DECIMAL" />
    <result column="reality_payable" property="realityPayable" jdbcType="DECIMAL" />
    <result column="receive_address" property="receiveAddress" jdbcType="VARCHAR" />
    <result column="receive_date" property="receiveDate" jdbcType="VARCHAR" />
    <result column="receive_man" property="receiveMan" jdbcType="VARCHAR" />
    <result column="receive_phone" property="receivePhone" jdbcType="VARCHAR" />
    <result column="sales_man" property="salesMan" jdbcType="VARCHAR" />
    <result column="sales_station" property="salesStation" jdbcType="VARCHAR" />
    <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
    <result column="start_address" property="startAddress" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="start_post_code" property="startPostCode" jdbcType="VARCHAR" />
    <result column="start_region" property="startRegion" jdbcType="VARCHAR" />
    <result column="start_station" property="startStation" jdbcType="VARCHAR" />
    <result column="target_post_code" property="targetPostCode" jdbcType="VARCHAR" />
    <result column="target_region" property="targetRegion" jdbcType="VARCHAR" />
    <result column="target_station" property="targetStation" jdbcType="VARCHAR" />
    <result column="transport_cost" property="transportCost" jdbcType="DECIMAL" />
    <result column="transportation_type" property="transportationType" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="un_received_payable" property="unReceivedPayable" jdbcType="DECIMAL" />
    <result column="vehicel_bill_type" property="vehicelBillType" jdbcType="VARCHAR" />
    <result column="vehicle_bill_code" property="vehicleBillCode" jdbcType="VARCHAR" />
    <result column="vehicle_bill_date" property="vehicleBillDate" jdbcType="VARCHAR" />
    <result column="vehicle_code" property="vehicleCode" jdbcType="VARCHAR" />
    <result column="vehicle_type" property="vehicleType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, account_bill_code, account_bill_date, account_bill_type, 
    account_payable, allowance_payable, arrive_vehicle_status, bill_code, consign_man, 
    consign_phone, customer_code, customer_property, depart_vehicle_status, detail_goods_customer_code, 
    detail_payment_customer_code, driver_name, driver_phone, expend_payable, gather_type, 
    income_payable, logis_cost, other_cost, payment_code, payment_type, payments_date, 
    payments_total, reality_payable, receive_address, receive_date, receive_man, receive_phone, 
    sales_man, sales_station, service_type, start_address, start_date, start_post_code, 
    start_region, start_station, target_post_code, target_region, target_station, transport_cost, 
    transportation_type, type, un_received_payable, vehicel_bill_type, vehicle_bill_code, 
    vehicle_bill_date, vehicle_code, vehicle_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physical_bill_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from physical_bill_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aygxy.mybatis.entity.PhysicalBillInfo" >
    insert into physical_bill_info (id, create_time, update_time, 
      account_bill_code, account_bill_date, account_bill_type, 
      account_payable, allowance_payable, arrive_vehicle_status, 
      bill_code, consign_man, consign_phone, 
      customer_code, customer_property, depart_vehicle_status, 
      detail_goods_customer_code, detail_payment_customer_code, 
      driver_name, driver_phone, expend_payable, 
      gather_type, income_payable, logis_cost, 
      other_cost, payment_code, payment_type, 
      payments_date, payments_total, reality_payable, 
      receive_address, receive_date, receive_man, 
      receive_phone, sales_man, sales_station, 
      service_type, start_address, start_date, 
      start_post_code, start_region, start_station, 
      target_post_code, target_region, target_station, 
      transport_cost, transportation_type, type, 
      un_received_payable, vehicel_bill_type, vehicle_bill_code, 
      vehicle_bill_date, vehicle_code, vehicle_type
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{accountBillCode,jdbcType=VARCHAR}, #{accountBillDate,jdbcType=VARCHAR}, #{accountBillType,jdbcType=VARCHAR}, 
      #{accountPayable,jdbcType=DECIMAL}, #{allowancePayable,jdbcType=DECIMAL}, #{arriveVehicleStatus,jdbcType=VARCHAR}, 
      #{billCode,jdbcType=VARCHAR}, #{consignMan,jdbcType=VARCHAR}, #{consignPhone,jdbcType=VARCHAR}, 
      #{customerCode,jdbcType=VARCHAR}, #{customerProperty,jdbcType=VARCHAR}, #{departVehicleStatus,jdbcType=VARCHAR}, 
      #{detailGoodsCustomerCode,jdbcType=VARCHAR}, #{detailPaymentCustomerCode,jdbcType=VARCHAR}, 
      #{driverName,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR}, #{expendPayable,jdbcType=DECIMAL}, 
      #{gatherType,jdbcType=VARCHAR}, #{incomePayable,jdbcType=DECIMAL}, #{logisCost,jdbcType=DECIMAL}, 
      #{otherCost,jdbcType=DECIMAL}, #{paymentCode,jdbcType=VARCHAR}, #{paymentType,jdbcType=VARCHAR}, 
      #{paymentsDate,jdbcType=VARCHAR}, #{paymentsTotal,jdbcType=DECIMAL}, #{realityPayable,jdbcType=DECIMAL}, 
      #{receiveAddress,jdbcType=VARCHAR}, #{receiveDate,jdbcType=VARCHAR}, #{receiveMan,jdbcType=VARCHAR}, 
      #{receivePhone,jdbcType=VARCHAR}, #{salesMan,jdbcType=VARCHAR}, #{salesStation,jdbcType=VARCHAR}, 
      #{serviceType,jdbcType=VARCHAR}, #{startAddress,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, 
      #{startPostCode,jdbcType=VARCHAR}, #{startRegion,jdbcType=VARCHAR}, #{startStation,jdbcType=VARCHAR}, 
      #{targetPostCode,jdbcType=VARCHAR}, #{targetRegion,jdbcType=VARCHAR}, #{targetStation,jdbcType=VARCHAR}, 
      #{transportCost,jdbcType=DECIMAL}, #{transportationType,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{unReceivedPayable,jdbcType=DECIMAL}, #{vehicelBillType,jdbcType=VARCHAR}, #{vehicleBillCode,jdbcType=VARCHAR}, 
      #{vehicleBillDate,jdbcType=VARCHAR}, #{vehicleCode,jdbcType=VARCHAR}, #{vehicleType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aygxy.mybatis.entity.PhysicalBillInfo" >
    insert into physical_bill_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="accountBillCode != null" >
        account_bill_code,
      </if>
      <if test="accountBillDate != null" >
        account_bill_date,
      </if>
      <if test="accountBillType != null" >
        account_bill_type,
      </if>
      <if test="accountPayable != null" >
        account_payable,
      </if>
      <if test="allowancePayable != null" >
        allowance_payable,
      </if>
      <if test="arriveVehicleStatus != null" >
        arrive_vehicle_status,
      </if>
      <if test="billCode != null" >
        bill_code,
      </if>
      <if test="consignMan != null" >
        consign_man,
      </if>
      <if test="consignPhone != null" >
        consign_phone,
      </if>
      <if test="customerCode != null" >
        customer_code,
      </if>
      <if test="customerProperty != null" >
        customer_property,
      </if>
      <if test="departVehicleStatus != null" >
        depart_vehicle_status,
      </if>
      <if test="detailGoodsCustomerCode != null" >
        detail_goods_customer_code,
      </if>
      <if test="detailPaymentCustomerCode != null" >
        detail_payment_customer_code,
      </if>
      <if test="driverName != null" >
        driver_name,
      </if>
      <if test="driverPhone != null" >
        driver_phone,
      </if>
      <if test="expendPayable != null" >
        expend_payable,
      </if>
      <if test="gatherType != null" >
        gather_type,
      </if>
      <if test="incomePayable != null" >
        income_payable,
      </if>
      <if test="logisCost != null" >
        logis_cost,
      </if>
      <if test="otherCost != null" >
        other_cost,
      </if>
      <if test="paymentCode != null" >
        payment_code,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="paymentsDate != null" >
        payments_date,
      </if>
      <if test="paymentsTotal != null" >
        payments_total,
      </if>
      <if test="realityPayable != null" >
        reality_payable,
      </if>
      <if test="receiveAddress != null" >
        receive_address,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="receiveMan != null" >
        receive_man,
      </if>
      <if test="receivePhone != null" >
        receive_phone,
      </if>
      <if test="salesMan != null" >
        sales_man,
      </if>
      <if test="salesStation != null" >
        sales_station,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="startAddress != null" >
        start_address,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="startPostCode != null" >
        start_post_code,
      </if>
      <if test="startRegion != null" >
        start_region,
      </if>
      <if test="startStation != null" >
        start_station,
      </if>
      <if test="targetPostCode != null" >
        target_post_code,
      </if>
      <if test="targetRegion != null" >
        target_region,
      </if>
      <if test="targetStation != null" >
        target_station,
      </if>
      <if test="transportCost != null" >
        transport_cost,
      </if>
      <if test="transportationType != null" >
        transportation_type,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="unReceivedPayable != null" >
        un_received_payable,
      </if>
      <if test="vehicelBillType != null" >
        vehicel_bill_type,
      </if>
      <if test="vehicleBillCode != null" >
        vehicle_bill_code,
      </if>
      <if test="vehicleBillDate != null" >
        vehicle_bill_date,
      </if>
      <if test="vehicleCode != null" >
        vehicle_code,
      </if>
      <if test="vehicleType != null" >
        vehicle_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountBillCode != null" >
        #{accountBillCode,jdbcType=VARCHAR},
      </if>
      <if test="accountBillDate != null" >
        #{accountBillDate,jdbcType=VARCHAR},
      </if>
      <if test="accountBillType != null" >
        #{accountBillType,jdbcType=VARCHAR},
      </if>
      <if test="accountPayable != null" >
        #{accountPayable,jdbcType=DECIMAL},
      </if>
      <if test="allowancePayable != null" >
        #{allowancePayable,jdbcType=DECIMAL},
      </if>
      <if test="arriveVehicleStatus != null" >
        #{arriveVehicleStatus,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null" >
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="consignMan != null" >
        #{consignMan,jdbcType=VARCHAR},
      </if>
      <if test="consignPhone != null" >
        #{consignPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerProperty != null" >
        #{customerProperty,jdbcType=VARCHAR},
      </if>
      <if test="departVehicleStatus != null" >
        #{departVehicleStatus,jdbcType=VARCHAR},
      </if>
      <if test="detailGoodsCustomerCode != null" >
        #{detailGoodsCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="detailPaymentCustomerCode != null" >
        #{detailPaymentCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="driverName != null" >
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="expendPayable != null" >
        #{expendPayable,jdbcType=DECIMAL},
      </if>
      <if test="gatherType != null" >
        #{gatherType,jdbcType=VARCHAR},
      </if>
      <if test="incomePayable != null" >
        #{incomePayable,jdbcType=DECIMAL},
      </if>
      <if test="logisCost != null" >
        #{logisCost,jdbcType=DECIMAL},
      </if>
      <if test="otherCost != null" >
        #{otherCost,jdbcType=DECIMAL},
      </if>
      <if test="paymentCode != null" >
        #{paymentCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentsDate != null" >
        #{paymentsDate,jdbcType=VARCHAR},
      </if>
      <if test="paymentsTotal != null" >
        #{paymentsTotal,jdbcType=DECIMAL},
      </if>
      <if test="realityPayable != null" >
        #{realityPayable,jdbcType=DECIMAL},
      </if>
      <if test="receiveAddress != null" >
        #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=VARCHAR},
      </if>
      <if test="receiveMan != null" >
        #{receiveMan,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null" >
        #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="salesMan != null" >
        #{salesMan,jdbcType=VARCHAR},
      </if>
      <if test="salesStation != null" >
        #{salesStation,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="startAddress != null" >
        #{startAddress,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="startPostCode != null" >
        #{startPostCode,jdbcType=VARCHAR},
      </if>
      <if test="startRegion != null" >
        #{startRegion,jdbcType=VARCHAR},
      </if>
      <if test="startStation != null" >
        #{startStation,jdbcType=VARCHAR},
      </if>
      <if test="targetPostCode != null" >
        #{targetPostCode,jdbcType=VARCHAR},
      </if>
      <if test="targetRegion != null" >
        #{targetRegion,jdbcType=VARCHAR},
      </if>
      <if test="targetStation != null" >
        #{targetStation,jdbcType=VARCHAR},
      </if>
      <if test="transportCost != null" >
        #{transportCost,jdbcType=DECIMAL},
      </if>
      <if test="transportationType != null" >
        #{transportationType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="unReceivedPayable != null" >
        #{unReceivedPayable,jdbcType=DECIMAL},
      </if>
      <if test="vehicelBillType != null" >
        #{vehicelBillType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBillCode != null" >
        #{vehicleBillCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBillDate != null" >
        #{vehicleBillDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleCode != null" >
        #{vehicleCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        #{vehicleType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aygxy.mybatis.entity.PhysicalBillInfo" >
    update physical_bill_info
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountBillCode != null" >
        account_bill_code = #{accountBillCode,jdbcType=VARCHAR},
      </if>
      <if test="accountBillDate != null" >
        account_bill_date = #{accountBillDate,jdbcType=VARCHAR},
      </if>
      <if test="accountBillType != null" >
        account_bill_type = #{accountBillType,jdbcType=VARCHAR},
      </if>
      <if test="accountPayable != null" >
        account_payable = #{accountPayable,jdbcType=DECIMAL},
      </if>
      <if test="allowancePayable != null" >
        allowance_payable = #{allowancePayable,jdbcType=DECIMAL},
      </if>
      <if test="arriveVehicleStatus != null" >
        arrive_vehicle_status = #{arriveVehicleStatus,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null" >
        bill_code = #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="consignMan != null" >
        consign_man = #{consignMan,jdbcType=VARCHAR},
      </if>
      <if test="consignPhone != null" >
        consign_phone = #{consignPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerProperty != null" >
        customer_property = #{customerProperty,jdbcType=VARCHAR},
      </if>
      <if test="departVehicleStatus != null" >
        depart_vehicle_status = #{departVehicleStatus,jdbcType=VARCHAR},
      </if>
      <if test="detailGoodsCustomerCode != null" >
        detail_goods_customer_code = #{detailGoodsCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="detailPaymentCustomerCode != null" >
        detail_payment_customer_code = #{detailPaymentCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="driverName != null" >
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="expendPayable != null" >
        expend_payable = #{expendPayable,jdbcType=DECIMAL},
      </if>
      <if test="gatherType != null" >
        gather_type = #{gatherType,jdbcType=VARCHAR},
      </if>
      <if test="incomePayable != null" >
        income_payable = #{incomePayable,jdbcType=DECIMAL},
      </if>
      <if test="logisCost != null" >
        logis_cost = #{logisCost,jdbcType=DECIMAL},
      </if>
      <if test="otherCost != null" >
        other_cost = #{otherCost,jdbcType=DECIMAL},
      </if>
      <if test="paymentCode != null" >
        payment_code = #{paymentCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentsDate != null" >
        payments_date = #{paymentsDate,jdbcType=VARCHAR},
      </if>
      <if test="paymentsTotal != null" >
        payments_total = #{paymentsTotal,jdbcType=DECIMAL},
      </if>
      <if test="realityPayable != null" >
        reality_payable = #{realityPayable,jdbcType=DECIMAL},
      </if>
      <if test="receiveAddress != null" >
        receive_address = #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        receive_date = #{receiveDate,jdbcType=VARCHAR},
      </if>
      <if test="receiveMan != null" >
        receive_man = #{receiveMan,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null" >
        receive_phone = #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="salesMan != null" >
        sales_man = #{salesMan,jdbcType=VARCHAR},
      </if>
      <if test="salesStation != null" >
        sales_station = #{salesStation,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="startAddress != null" >
        start_address = #{startAddress,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="startPostCode != null" >
        start_post_code = #{startPostCode,jdbcType=VARCHAR},
      </if>
      <if test="startRegion != null" >
        start_region = #{startRegion,jdbcType=VARCHAR},
      </if>
      <if test="startStation != null" >
        start_station = #{startStation,jdbcType=VARCHAR},
      </if>
      <if test="targetPostCode != null" >
        target_post_code = #{targetPostCode,jdbcType=VARCHAR},
      </if>
      <if test="targetRegion != null" >
        target_region = #{targetRegion,jdbcType=VARCHAR},
      </if>
      <if test="targetStation != null" >
        target_station = #{targetStation,jdbcType=VARCHAR},
      </if>
      <if test="transportCost != null" >
        transport_cost = #{transportCost,jdbcType=DECIMAL},
      </if>
      <if test="transportationType != null" >
        transportation_type = #{transportationType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="unReceivedPayable != null" >
        un_received_payable = #{unReceivedPayable,jdbcType=DECIMAL},
      </if>
      <if test="vehicelBillType != null" >
        vehicel_bill_type = #{vehicelBillType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBillCode != null" >
        vehicle_bill_code = #{vehicleBillCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBillDate != null" >
        vehicle_bill_date = #{vehicleBillDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleCode != null" >
        vehicle_code = #{vehicleCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aygxy.mybatis.entity.PhysicalBillInfo" >
    update physical_bill_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      account_bill_code = #{accountBillCode,jdbcType=VARCHAR},
      account_bill_date = #{accountBillDate,jdbcType=VARCHAR},
      account_bill_type = #{accountBillType,jdbcType=VARCHAR},
      account_payable = #{accountPayable,jdbcType=DECIMAL},
      allowance_payable = #{allowancePayable,jdbcType=DECIMAL},
      arrive_vehicle_status = #{arriveVehicleStatus,jdbcType=VARCHAR},
      bill_code = #{billCode,jdbcType=VARCHAR},
      consign_man = #{consignMan,jdbcType=VARCHAR},
      consign_phone = #{consignPhone,jdbcType=VARCHAR},
      customer_code = #{customerCode,jdbcType=VARCHAR},
      customer_property = #{customerProperty,jdbcType=VARCHAR},
      depart_vehicle_status = #{departVehicleStatus,jdbcType=VARCHAR},
      detail_goods_customer_code = #{detailGoodsCustomerCode,jdbcType=VARCHAR},
      detail_payment_customer_code = #{detailPaymentCustomerCode,jdbcType=VARCHAR},
      driver_name = #{driverName,jdbcType=VARCHAR},
      driver_phone = #{driverPhone,jdbcType=VARCHAR},
      expend_payable = #{expendPayable,jdbcType=DECIMAL},
      gather_type = #{gatherType,jdbcType=VARCHAR},
      income_payable = #{incomePayable,jdbcType=DECIMAL},
      logis_cost = #{logisCost,jdbcType=DECIMAL},
      other_cost = #{otherCost,jdbcType=DECIMAL},
      payment_code = #{paymentCode,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      payments_date = #{paymentsDate,jdbcType=VARCHAR},
      payments_total = #{paymentsTotal,jdbcType=DECIMAL},
      reality_payable = #{realityPayable,jdbcType=DECIMAL},
      receive_address = #{receiveAddress,jdbcType=VARCHAR},
      receive_date = #{receiveDate,jdbcType=VARCHAR},
      receive_man = #{receiveMan,jdbcType=VARCHAR},
      receive_phone = #{receivePhone,jdbcType=VARCHAR},
      sales_man = #{salesMan,jdbcType=VARCHAR},
      sales_station = #{salesStation,jdbcType=VARCHAR},
      service_type = #{serviceType,jdbcType=VARCHAR},
      start_address = #{startAddress,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=VARCHAR},
      start_post_code = #{startPostCode,jdbcType=VARCHAR},
      start_region = #{startRegion,jdbcType=VARCHAR},
      start_station = #{startStation,jdbcType=VARCHAR},
      target_post_code = #{targetPostCode,jdbcType=VARCHAR},
      target_region = #{targetRegion,jdbcType=VARCHAR},
      target_station = #{targetStation,jdbcType=VARCHAR},
      transport_cost = #{transportCost,jdbcType=DECIMAL},
      transportation_type = #{transportationType,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      un_received_payable = #{unReceivedPayable,jdbcType=DECIMAL},
      vehicel_bill_type = #{vehicelBillType,jdbcType=VARCHAR},
      vehicle_bill_code = #{vehicleBillCode,jdbcType=VARCHAR},
      vehicle_bill_date = #{vehicleBillDate,jdbcType=VARCHAR},
      vehicle_code = #{vehicleCode,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>