<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aygxy.mybatis.mapper.PhysicalVehicleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.aygxy.mybatis.entity.PhysicalVehicleInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="allow_carry_high" property="allowCarryHigh" jdbcType="VARCHAR" />
    <result column="allow_carry_volume" property="allowCarryVolume" jdbcType="VARCHAR" />
    <result column="allow_carry_weight" property="allowCarryWeight" jdbcType="VARCHAR" />
    <result column="vehicle_code" property="vehicleCode" jdbcType="VARCHAR" />
    <result column="vehicle_goods_code" property="vehicleGoodsCode" jdbcType="VARCHAR" />
    <result column="vehicle_engine_number" property="vehicleEngineNumber" jdbcType="VARCHAR" />
    <result column="vehicle_frame_number" property="vehicleFrameNumber" jdbcType="VARCHAR" />
    <result column="vehicle_high" property="vehicleHigh" jdbcType="VARCHAR" />
    <result column="insurance_card" property="insuranceCard" jdbcType="VARCHAR" />
    <result column="vehicle_length" property="vehicleLength" jdbcType="VARCHAR" />
    <result column="vehicle_model" property="vehicleModel" jdbcType="VARCHAR" />
    <result column="vehicle_owner" property="vehicleOwner" jdbcType="VARCHAR" />
    <result column="enterprise_code" property="enterpriseCode" jdbcType="VARCHAR" />
    <result column="vehicle_type" property="vehicleType" jdbcType="VARCHAR" />
    <result column="usered_age" property="useredAge" jdbcType="VARCHAR" />
    <result column="vehicle_width" property="vehicleWidth" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, name, allow_carry_high, allow_carry_volume, allow_carry_weight, 
    vehicle_code, vehicle_goods_code, vehicle_engine_number, vehicle_frame_number, vehicle_high, 
    insurance_card, vehicle_length, vehicle_model, vehicle_owner, enterprise_code, vehicle_type, 
    usered_age, vehicle_width
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physical_vehicle_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from physical_vehicle_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aygxy.mybatis.entity.PhysicalVehicleInfo" >
    insert into physical_vehicle_info (id, create_time, update_time, 
      name, allow_carry_high, allow_carry_volume, 
      allow_carry_weight, vehicle_code, vehicle_goods_code, 
      vehicle_engine_number, vehicle_frame_number, 
      vehicle_high, insurance_card, vehicle_length, 
      vehicle_model, vehicle_owner, enterprise_code, 
      vehicle_type, usered_age, vehicle_width
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{allowCarryHigh,jdbcType=VARCHAR}, #{allowCarryVolume,jdbcType=VARCHAR}, 
      #{allowCarryWeight,jdbcType=VARCHAR}, #{vehicleCode,jdbcType=VARCHAR}, #{vehicleGoodsCode,jdbcType=VARCHAR}, 
      #{vehicleEngineNumber,jdbcType=VARCHAR}, #{vehicleFrameNumber,jdbcType=VARCHAR}, 
      #{vehicleHigh,jdbcType=VARCHAR}, #{insuranceCard,jdbcType=VARCHAR}, #{vehicleLength,jdbcType=VARCHAR}, 
      #{vehicleModel,jdbcType=VARCHAR}, #{vehicleOwner,jdbcType=VARCHAR}, #{enterpriseCode,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR}, #{useredAge,jdbcType=VARCHAR}, #{vehicleWidth,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aygxy.mybatis.entity.PhysicalVehicleInfo" >
    insert into physical_vehicle_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="allowCarryHigh != null" >
        allow_carry_high,
      </if>
      <if test="allowCarryVolume != null" >
        allow_carry_volume,
      </if>
      <if test="allowCarryWeight != null" >
        allow_carry_weight,
      </if>
      <if test="vehicleCode != null" >
        vehicle_code,
      </if>
      <if test="vehicleGoodsCode != null" >
        vehicle_goods_code,
      </if>
      <if test="vehicleEngineNumber != null" >
        vehicle_engine_number,
      </if>
      <if test="vehicleFrameNumber != null" >
        vehicle_frame_number,
      </if>
      <if test="vehicleHigh != null" >
        vehicle_high,
      </if>
      <if test="insuranceCard != null" >
        insurance_card,
      </if>
      <if test="vehicleLength != null" >
        vehicle_length,
      </if>
      <if test="vehicleModel != null" >
        vehicle_model,
      </if>
      <if test="vehicleOwner != null" >
        vehicle_owner,
      </if>
      <if test="enterpriseCode != null" >
        enterprise_code,
      </if>
      <if test="vehicleType != null" >
        vehicle_type,
      </if>
      <if test="useredAge != null" >
        usered_age,
      </if>
      <if test="vehicleWidth != null" >
        vehicle_width,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="allowCarryHigh != null" >
        #{allowCarryHigh,jdbcType=VARCHAR},
      </if>
      <if test="allowCarryVolume != null" >
        #{allowCarryVolume,jdbcType=VARCHAR},
      </if>
      <if test="allowCarryWeight != null" >
        #{allowCarryWeight,jdbcType=VARCHAR},
      </if>
      <if test="vehicleCode != null" >
        #{vehicleCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleGoodsCode != null" >
        #{vehicleGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEngineNumber != null" >
        #{vehicleEngineNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleFrameNumber != null" >
        #{vehicleFrameNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleHigh != null" >
        #{vehicleHigh,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCard != null" >
        #{insuranceCard,jdbcType=VARCHAR},
      </if>
      <if test="vehicleLength != null" >
        #{vehicleLength,jdbcType=VARCHAR},
      </if>
      <if test="vehicleModel != null" >
        #{vehicleModel,jdbcType=VARCHAR},
      </if>
      <if test="vehicleOwner != null" >
        #{vehicleOwner,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCode != null" >
        #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="useredAge != null" >
        #{useredAge,jdbcType=VARCHAR},
      </if>
      <if test="vehicleWidth != null" >
        #{vehicleWidth,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aygxy.mybatis.entity.PhysicalVehicleInfo" >
    update physical_vehicle_info
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="allowCarryHigh != null" >
        allow_carry_high = #{allowCarryHigh,jdbcType=VARCHAR},
      </if>
      <if test="allowCarryVolume != null" >
        allow_carry_volume = #{allowCarryVolume,jdbcType=VARCHAR},
      </if>
      <if test="allowCarryWeight != null" >
        allow_carry_weight = #{allowCarryWeight,jdbcType=VARCHAR},
      </if>
      <if test="vehicleCode != null" >
        vehicle_code = #{vehicleCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleGoodsCode != null" >
        vehicle_goods_code = #{vehicleGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEngineNumber != null" >
        vehicle_engine_number = #{vehicleEngineNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleFrameNumber != null" >
        vehicle_frame_number = #{vehicleFrameNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleHigh != null" >
        vehicle_high = #{vehicleHigh,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCard != null" >
        insurance_card = #{insuranceCard,jdbcType=VARCHAR},
      </if>
      <if test="vehicleLength != null" >
        vehicle_length = #{vehicleLength,jdbcType=VARCHAR},
      </if>
      <if test="vehicleModel != null" >
        vehicle_model = #{vehicleModel,jdbcType=VARCHAR},
      </if>
      <if test="vehicleOwner != null" >
        vehicle_owner = #{vehicleOwner,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCode != null" >
        enterprise_code = #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="useredAge != null" >
        usered_age = #{useredAge,jdbcType=VARCHAR},
      </if>
      <if test="vehicleWidth != null" >
        vehicle_width = #{vehicleWidth,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aygxy.mybatis.entity.PhysicalVehicleInfo" >
    update physical_vehicle_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      allow_carry_high = #{allowCarryHigh,jdbcType=VARCHAR},
      allow_carry_volume = #{allowCarryVolume,jdbcType=VARCHAR},
      allow_carry_weight = #{allowCarryWeight,jdbcType=VARCHAR},
      vehicle_code = #{vehicleCode,jdbcType=VARCHAR},
      vehicle_goods_code = #{vehicleGoodsCode,jdbcType=VARCHAR},
      vehicle_engine_number = #{vehicleEngineNumber,jdbcType=VARCHAR},
      vehicle_frame_number = #{vehicleFrameNumber,jdbcType=VARCHAR},
      vehicle_high = #{vehicleHigh,jdbcType=VARCHAR},
      insurance_card = #{insuranceCard,jdbcType=VARCHAR},
      vehicle_length = #{vehicleLength,jdbcType=VARCHAR},
      vehicle_model = #{vehicleModel,jdbcType=VARCHAR},
      vehicle_owner = #{vehicleOwner,jdbcType=VARCHAR},
      enterprise_code = #{enterpriseCode,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      usered_age = #{useredAge,jdbcType=VARCHAR},
      vehicle_width = #{vehicleWidth,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>